.container {
    width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(to right,
            rgba(72, 132, 235, 0.65), rgba(72, 132, 235, 0.65)),
        url(../images/labours.jpg);
    background-position: center;
    background-size: cover;
    padding: 48px;
}
.site-title {
    color: white;
    text-align: center;
    font-size: 48px;
}
.input-block-title {
    color: white;
}
.input-description {
  width: 500px;
}
.input-time {
    width: 60px;
}
.add {
    color: white;
    background-color: blue;
    border-radius: 8px;
    cursor: pointer;
}
.flex {
    display: flex;
    justify-content: flex-start;
}
.list-titles {
    width: 160px;
    height: 40px;
    border: 2px solid white;
    margin-left: 36px;
}
.list-descriptions {
    width: 500px;
    height: 40px;
    border: 2px solid white;
    margin-left: 88px;
}